.nab-bar-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 2px 10px;

  .left-container {
    display: flex;
    align-items: center;
  }

  .right-container {
    display: flex;
    align-items: center;
    .current-user {
        display: flex;
        align-items: center;
      font-weight: 700;
      margin: 0 10px;
      .user {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #032cfa;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        margin: 0 5px;
      }
      .details{
        display: flex;
      }
    }

    .logout {
      outline: none;
      cursor: pointer;
      background-color: transparent;
      font-size: 14px;
      font-weight: 600;
      border-radius: 4px;
      border: 1px solid #032cfa;
    }
  }
}
